@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "Atkinson Hyperlegible", ui-sans-serif, system-ui, sans-serif;


  /* Blue */
  --color-glass-blue: rgba(30, 45, 80, 0.6);
  --color-primary-blue-dark: #0E1A2B;
  --color-secondary-blue: #02277a;
  --color-blue-hover: #002f89;
  --border-glass: rgba(255, 255, 255, 0.08);

  /* Green */
  --color-accent-green: #5fb025;
  --color-secondary-green: #6ab030;
  --color-dark-green: #0e7b16;
  --color-glass-green: rgba(95, 176, 37, 0.06);


  /* Yellow-Light */
  --color-light-yellow: #c6de95;
  --color-pale-yellow: #f4fef4;
  --color-pastel-yellow: #e3e9b6;
  --color-glass-yellow: rgba(227, 233, 182, 0.12);



  /* Gray */
  --color-light-gray: #d9dfdd;
  --color-medium-gray: #b5c3ca;
  --color-glass-gray: rgba(164, 178, 174, 0.06);

  /* Dark mode variants */
  --color-background-light: #f4fef4;
  /* Pale yellow for light mode background */
  --color-background-dark: #0E1A2B;
  /* Dark blue for dark mode background */
  --color-text-light: #010031;
  /* Dark blue for text in light mode */
  --color-text-dark: #f4fef4;
  /* Pale yellow for text in dark mode */
}

html,
body {
  /* Custom colors for background */
  @apply bg-background-light dark:bg-background-dark;
  @apply text-text-light dark:text-text-dark;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .will-change-transform {
    will-change: transform;
  }
}

@layer components {

  /* Primary button */
  .btn-primary {
    @apply bg-secondary-green text-primary-blue-dark px-8 py-4 rounded-lg hover:bg-accent-green hover:font-semibold transition cursor-pointer;
  }

  /* Secondary button */
  .btn-secondary {
    @apply border border-secondary-green text-light-gray px-8 py-4 rounded-lg hover:bg-accent-green hover:text-primary-blue-dark transition cursor-pointer;
  }

  /* Filter buttons */


  .btn-filter-active {
    @apply bg-light-yellow text-primary-blue-dark px-6 py-2.5 rounded-md text-sm font-medium transition hover:bg-light-yellow cursor-pointer;

  }

  .btn-filter-default {
    @apply bg-medium-gray text-primary-blue-dark px-6 py-2.5 rounded-md text-sm font-medium transition hover:bg-light-yellow cursor-pointer;
  }

}
